{% extends "base/base.html" %}
{% load mathfilters %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'generic/table.css' %}">
    <link rel="stylesheet" href="{% static 'generic/paginator.css' %}">

    <div class="table">
        <h2>Inventory List</h2>
        <p>You can see all added inventory here and delete/edit them if necessary.</p>
        <a href="{% url 'inventory:add' %}" class="add-button">Add Inventory</a>
        <a href="{% url 'inventory:download_inventory_table' %}" class="sheet-button">Download Excel</a>

        <table class="table">
            <thead>
            <tr class="column-label">
                <th>Nr</th>
                <th>
                    {% if order_dir == "desc" %}
                        <a href="?order_by=date&order_dir=asc&page={{ page }}">
                    {% else %}
                        <a href="?order_by=date&page={{ page }}">
                    {% endif %}
                    <h2>Date</h2>
                    {% if order_by == "date" and order_dir == "asc" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "date" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "desc" %}
                        <a href="?order_by=rr&order_dir=asc&page={{ page }}">
                    {% else %}
                        <a href="?order_by=rr&page={{ page }}">
                    {% endif %}
                    <h2>R.R# OR REL.#</h2>
                    {% if order_by == "rr" and order_dir == "asc" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "rr" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "desc" %}
                        <a href="?order_by=po&order_dir=asc&page={{ page }}">
                    {% else %}
                        <a href="?order_by=po&page={{ page }}">
                    {% endif %}
                    <h2>P.O# OR B/L#</h2>
                    {% if order_by == "po" and order_dir == "asc" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "po" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "desc" %}
                        <a href="?order_by=afe&order_dir=asc&page={{ page }}">
                    {% else %}
                        <a href="?order_by=afe&page={{ page }}">
                    {% endif %}
                    <h2>AFE</h2>
                    {% if order_by == "afe" and order_dir == "asc" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "afe" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "desc" %}
                        <a href="?order_by=carrier&order_dir=asc&page={{ page }}">
                    {% else %}
                        <a href="?order_by=carrier&page={{ page }}">
                    {% endif %}
                    <h2>Carrier</h2>
                    {% if order_by == "carrier" and order_dir == "asc" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "carrier" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "desc" %}
                        <a href="?order_by=joints_in&order_dir=asc&page={{ page }}">
                    {% else %}
                        <a href="?order_by=joints_in&page={{ page }}">
                    {% endif %}
                    <h2>Joints In</h2>
                    {% if order_by == "joints_in" and order_dir == "asc" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "joints_in" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "desc" %}
                        <a href="?order_by=joints_out&order_dir=asc&page={{ page }}">
                    {% else %}
                        <a href="?order_by=joints_out&page={{ page }}">
                    {% endif %}
                    <h2>Joints Out</h2>
                    {% if order_by == "joints_out" and order_dir == "asc" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "joints_out" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            {% if inventory_list %}
                <tbody>
                {% for inventory in inventory_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ inventory.date|date:"m/d/Y" }}</td>
                        <td>{{ inventory.rr }}</td>
                        <td>{{ inventory.po }}</td>
                        <td>{{ inventory.afe }}</td>
                        <td>{{ inventory.carrier }}</td>
                        {% if inventory.joints >= 0 %}
                            <td>{{ inventory.joints }}</td>
                            <td></td>
                        {% else %}
                            <td></td>
                            <td>{{ inventory.joints|abs }}</td>
                        {% endif %}
                        <td><a href="{% url 'inventory:detail' inventory.id %}" class="view-link">View</a></td>
                        <td><a href="{% url 'inventory:edit' inventory.id %}" class="edit-link">Edit</a></td>
                        <td><a href="{% url 'inventory:delete' inventory.id %}" class="delete-link"
                               onclick="return confirm('Are you sure you want to delete {{ inventory }}')">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>
    
    <ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
        {% if inventory_list.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ inventory_list.previous_page_number }}&order_by={{ order_by }}&order_dir={{ order_dir }}">&laquo;</a></li>
        {% else %}
            <li class="disabled page-item"><a class="page-link">&laquo;</a></li>
        {% endif %}
        {% for i in page_range|default_if_none:inventory_list.paginator.get_elided_page_range %}
            {% if inventory_list.number == i %}
                <li class="active page-item"><span class="active page-link">{{ i }}</span>
                </li>
            {% else %}
                {% if i == inventory_list.paginator.ELLIPSIS %}
                    <li class="page-item"><span class="page-link">{{ i }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}&order_by={{ order_by }}&order_dir={{ order_dir }}">{{ i }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if inventory_list.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ inventory_list.next_page_number }}&order_by={{ order_by }}&order_dir={{ order_dir }}">&raquo;</a></li>
        {% else %}
            <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
        {% endif %}
    </ul>

{% endblock %}