{% extends "base/base.html" %}
{% load static %}
{% load table_extras %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block main %}
    <h1 class="table-title">Inventory Changes</h1>
    <p class="table-description">You can see all inventory changes here and edit/delete them if necessary.</p>
    <a href="{% url 'inventory:download_table' %}" class="table-download-button">Download Table</a>
    <a href="{% url 'inventory:create' %}" class="table-add-button">Add Inventory Change</a>

    <table class="list-table">
        <tr>
            <th>No.</th>
            <th>{% sort_link ordering 'date' 'Date' page_obj.number %}</th>
            <th>{% sort_link ordering 'rr' 'R.R# OR REL.#' page_obj.number %}</th>
            <th>{% sort_link ordering 'po' 'P.O# OR B/L#' page_obj.number %}</th>
            <th>{% sort_link ordering 'carrier' 'Carrier' page_obj.number %}</th>
            <th>{% sort_link ordering 'received_transferred' 'Received From Transferred To' page_obj.number %}</th>
            <th>{% sort_link ordering 'joints_in' 'Joints In' page_obj.number %}</th>
            <th>{% sort_link ordering 'joints_out' 'Joints Out' page_obj.number %}</th>
            <th>{% sort_link ordering 'footage' 'Footage' page_obj.number %}</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for object in object_list %}
            <tr id="entry-{{ object.pk }}">
                <td>
                    {{ forloop.counter }}
                </td>
                <td>
                    {{ object.date|date:"m/d/Y" }}
                </td>
                <td>
                    {{ object.rr }}
                </td>
                <td>
                    {{ object.po }}
                </td>
                <td>
                    {{ object.carrier }}
                </td>
                <td>
                    {{ object.received_transferred }}
                </td>
                <td>
                    {{ object.joints_in }}
                </td>
                <td>
                    {{ object.joints_out }}
                </td>
                <td>
                    {{ object.footage|floatformat:3 }}
                </td>
                <td>
                    <a href="{% url 'inventory:detail' object.pk %}" class="view-link">View</a>
                </td>
                <td>
                    <a href="{% url 'inventory:update' object.pk %}" class="edit-link">Edit</a>
                </td>
                <td>
                    <button class="delete-link" data-id="{{ object.pk }}">Delete</button>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if objects.has_previous %}
                <a href="?page=1&ordering={{ ordering }}">&laquo; first</a>
                <a href="?page={{ objects.previous_page_number }}&ordering={{ ordering }}">previous</a>
            {% endif %}

            {% for page in page_range %}
                {% if page == paginator.ELLIPSIS %}
                    <span class="ellipsis">&hellip;</span>
                {% elif page == page_obj.number %}
                    <span class="current">{{ page }}</span>
                {% else %}
                    <a href="?page={{ page }}&ordering={{ ordering }}">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if objects.has_next %}
                <a href="?page={{ objects.next_page_number }}&ordering={{ ordering }}">next</a>
                <a href="?page={{ objects.paginator.num_pages }}&ordering={{ ordering }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block script %}
    <script>
    $(document).ready(function() {
        $('.delete-link').click(function() {
            const entryId = $(this).data('id');
            const row = $('#entry-' + entryId);

            // Show confirmation popup
            if (confirm('Are you sure you want to delete this entry?')) {
                $.ajax({
                    url: '{% url "inventory:delete" 0 %}'.replace('0', entryId),
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.success) {
                            row.remove();
                        } else {
                            alert('An error occurred while deleting the entry.');
                        }
                    },
                    error: function(xhr, errmsg, err) {
                        alert('An error occurred: ' + errmsg);
                    }
                });
            }
        });
    });
    </script>
{% endblock %}