{% extends "base/base.html" %}

{% block main %}
    {% load static %}
    {% load mathfilters %}
    <link rel="stylesheet" href="{% static 'generic/table.css' %}">

    <div class="table">
        <h1>{{ customer_name }}</h1>
{#        <p>Desc.</p>#}
{#        <a href="{% url 'products:add' %}" class="add-button">Add Product</a>#}

        <table class="table">
            <thead>
            <tr class="column-label">
                <th colspan="9">Product Description</th>
                <th colspan="2">Balance</th>
                <th colspan="2"></th>
            </tr>
            <tr class="column-label">
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=outside_diameter&order_dir=asc">
                    {% else %}
                        <a href="?order_by=outside_diameter">
                    {% endif %}
                    <h2>Outside Diameter</h2>
                    {% if order_by == "outside_diameter" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "outside_diameter" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=weight&order_dir=asc">
                    {% else %}
                        <a href="?order_by=weight">
                    {% endif %}
                    <h2>Lbs Per Ft</h2>
                    {% if order_by == "weight" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "weight" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=grade&order_dir=asc">
                    {% else %}
                        <a href="?order_by=grade">
                    {% endif %}
                    <h2>Grade</h2>
                    {% if order_by == "grade" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "grade" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=coupling&order_dir=asc">
                    {% else %}
                        <a href="?order_by=coupling">
                    {% endif %}
                    <h2>CPLG</h2>
                    {% if order_by == "coupling" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "coupling" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=range&order_dir=asc">
                    {% else %}
                        <a href="?order_by=range">
                    {% endif %}
                    <h2>Range</h2>
                    {% if order_by == "range" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "range" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=manufacturer&order_dir=asc">
                    {% else %}
                        <a href="?order_by=manufacturer">
                    {% endif %}
                    <h2>MFG</h2>
                    {% if order_by == "manufacturer" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "manufacturer" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=condition&order_dir=asc">
                    {% else %}
                        <a href="?order_by=condition">
                    {% endif %}
                    <h2>Condition</h2>
                    {% if order_by == "condition" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "condition" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=remarks&order_dir=asc">
                    {% else %}
                        <a href="?order_by=remarks">
                    {% endif %}
                    <h2>Remarks</h2>
                    {% if order_by == "remarks" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "remarks" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=rack_id&order_dir=asc">
                    {% else %}
                        <a href="?order_by=rack_id">
                    {% endif %}
                    <h2>Rack#</h2>
                    {% if order_by == "rack_id" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "rack_id" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=joints&order_dir=asc">
                    {% else %}
                        <a href="?order_by=joints">
                    {% endif %}
                    <h2>Joints</h2>
                    {% if order_by == "joints" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "joints" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=footage&order_dir=asc">
                    {% else %}
                        <a href="?order_by=footage">
                    {% endif %}
                    <h2>Footage</h2>
                    {% if order_by == "footage" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "footage" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=foreman&order_dir=asc">
                    {% else %}
                        <a href="?order_by=foreman">
                    {% endif %}
                    <h2>Foreman</h2>
                    {% if order_by == "foreman" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "foreman" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th></th>
            </tr>
            </thead>
            {% if inventory_list %}
                <tbody>
                {% for inventory in inventory_list %}
                    <tr>
                        <td><a href="{% url 'inventory:report_detail' inventory.customer.id inventory.product.id %}">{{ inventory.product.outside_diameter }}</a></td>
                        <td>{{ inventory.product.weight }}#</td>
                        <td>{{ inventory.product.grade }}</td>
                        <td>{{ inventory.product.coupling }}</td>
                        <td>{{ inventory.product.range }}</td>
                        <td>{{ inventory.product.manufacturer }}</td>
                        <td>{{ inventory.product.condition }}</td>
                        <td>{{ inventory.product.remarks }}</td>
                        <td>{{ inventory.rack_id }}</td>
                        <td>{{ inventory.joints }}</td>
                        <td>{{ inventory.footage }}</td>
                        <td>{{ inventory.product.foreman }}</td>
                        <td><a href="{% url 'products:edit' inventory.product.id %}" class="edit-link">Edit</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>

{% endblock %}