.sidebar-menu {
    display: flex;
    flex-direction: column;

    margin: 10px;
}

.sidebar-menu h1 {
    font-size: 12px;
    font-weight: bold;
    background: transparent url("../resources/open_top.gif") no-repeat;
    color: #666666;

    padding: 8px 0 8px 10px;
}

.sidebar-menu ul {
    background: transparent url("../resources/open_body.gif") repeat-y;
    list-style-type: none;
    padding: 0 0 0 10px;

    display: flex;
    flex-direction: column;
}

.sidebar-menu ul li {
    padding: 3px 0 3px 0;
}

.sidebar-menu ul li a {
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    text-indent: 20px;
    color: #b60400;
    background: transparent url("../resources/bullet_go.gif") no-repeat scroll 3px 2px;

    display: block;
    padding: 2px 0 2px 0;

}

.sidebar-menu ul li a:hover {
    color: #ffffff;
    background: #79a73b;
}

.sidebar-menu footer {
    background: transparent url("../resources/open_bottom.gif") no-repeat;

    height: 7px;
}

