
.pagination {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.pagination li {
    border: #e0e2f3 1px solid;
    list-style-type: none;
    margin-right: 2px;
}

.pagination li:hover {
    border: #0e509e 1px solid;
}

.page-link {
    text-decoration: none;
    color: #2e6ab1;

    padding: 4px 7px;
}

.page-item {
    padding: 4px 0;
}

.active {
    background: #2e6ab1;
    color: #ffffff !important;
}