
.table > h2 {
    font-size: 14px;
    font-weight: bold;
    color: #333333;

    margin-bottom: 8px;
}

.table > h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #000000;

    margin-bottom: 8px;
}

.table > p {
    margin-bottom: 8px;
}

.table > a {
    font-size: 13px;

    display: block;
    margin-bottom: 12px;
}

.add-button {
    background: transparent url("../resources/add.png") no-repeat;
    padding: 0 0 0 20px;
}

.sheet-button {
    background: transparent url("../resources/spreadsheet.png") no-repeat;
    background-size: 16px 16px;
    padding: 0 0 0 20px;
}

.column-label {
    background: #eeeeee;
}

.column-label > th > a {
    text-decoration: none;
    color: #000000;
}

.table > table, .table > table th, .table > table td {
    border: #dddddd 1px solid;
    border-collapse: collapse;
    padding: 5px;
}

.table > table {
    width: 100%;
}

.table > table td {
    text-align: center;
    padding: 5px;
}

.table > table td a {
    display: block;
    height: 16px;
    white-space: nowrap;
}

.table > table > tbody > tr:nth-child(even) {
    background: #e0e2f3;
}

.view-link {
    background: transparent url("../resources/magnifier.png") no-repeat 0 50%;
    padding: 0 0 0 20px;
}

.edit-link {
    background: transparent url("../resources/pencil.png") no-repeat 0 50%;
    padding: 0 0 0 20px;
}

.delete-link {
    background: transparent url("../resources/delete.png") no-repeat 0 50%;
    padding: 0 0 0 20px;
}