{% load static %}
<link rel="stylesheet" href="{% static 'base/sidebar.css' %}">

<div class="sidebar-menu">
    <h1>Administration</h1>
    <ul>
        <li><a href="{% url 'customers:edit_password' user.id %}">Change Password</a></li>
        {% if is_admin %}
            <li><a href="{% url 'customers:edit_username' user.id %}">Change Username</a></li>
            <li><a href="{% url 'customers:edit_email' user.id %}">Change Email</a></li>
        {% endif %}
        <li><a href="{% url 'customers:logout' %}">Logout</a></li>
    </ul>
    <footer></footer>
</div>