<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Runners Utah</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'base/base.css' %}">
</head>
<body>

<!-- Top Bar -->
{% include 'base/top_bar.html' %}

<!-- Side Bar -->
<nav class="sidebar">
    {% include 'base/reports.html' %}
    {% include 'base/customer_manage.html' %}
    {% include 'base/product_manage.html' %}
    {% include 'base/inventory_manage.html' %}
    {% include 'base/administration.html' %}
</nav>

<!-- Content -->
<main class="main-content">
    {% block main %}{% endblock %}
</main>

</body>
</html>