{% extends "base/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock %}

{% block main %}
    <div class="card">
        <a href="{{request.META.HTTP_REFERER}}" class="card-go-back">Go Back</a>
        <h1 class="card-title">Product Information</h1>
        <hr>
        <table>
            <tbody>
                <tr>
                    <th>Customer:</th>
                    <td>{{ object.customer }}</td>
                </tr>
                <tr>
                    <th>Product Type:</th>
                    <td>{{ object.product_type }}</td>
                </tr>
                <tr>
                    <th>Outside Diameter:</th>
                    <td>{{ object.outside_diameter_text }}</td>
                </tr>
                <tr>
                    <th>Lbs Per Ft:</th>
                    <td>{{ object.weight_text }}</td>
                </tr>
                <tr>
                    <th>Grade:</th>
                    <td>{{ object.grade }}</td>
                </tr>
                <tr>
                    <th>Coupling:</th>
                    <td>{{ object.coupling }}</td>
                </tr>
                <tr>
                    <th>Range:</th>
                    <td>{{ object.range }}</td>
                </tr>
                <tr>
                    <th>Condition:</th>
                    <td>{{ object.condition }}</td>
                </tr>
                <tr>
                    <th>Remarks:</th>
                    <td>{{ object.remarks }}</td>
                </tr>
                <tr>
                    <th>Foreman:</th>
                    <td>{{ object.foreman }}</td>
                </tr>
                <tr>
                    <th>Rack#:</th>
                    <td>{{ object.rack }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
