{% extends "base/base.html" %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'generic/card.css' %}">
    
    <div class="card">
        <h2 id="window-title">Edit Product</h2>
        <p id="window-description">Enter the product information.</p>
        <hr>
        <form action="{% url 'products:edit' product_id %}" method="post">
            {% csrf_token %}
            <div class="form-entry">
                <h2 class="form-label">Customer:</h2>
                {{ form.customer_id }}
                {% if "customer_id" in form.customer_id %}
                    <b class="error-message">{{ form.errors.customer_id }}</b>
                {% endif %}
            </div>
            <div class="form-entry">
                <h2 class="form-label">Product Type:</h2>
                {{ form.product_type|safe }}
                {% if "product_type" in form.errors %}
                    <b class="error-message">{{ form.errors.product_type }}</b>
                {% endif %}
            </div>
            <div class="form-entry">
                <h2 class="form-label">Outside Diameter:</h2>
                {{ form.outside_diameter }}
                {% if "outside_diameter" in form.errors %}
                    <b class="error-message">{{ form.errors.outside_diameter }}</b>
                {% endif %}
            </div>
            <div class="form-entry">
                <h2 class="form-label">Lbs Per Ft:</h2>
                {{ form.weight }}
                {% if "weight" in form.errors %}
                    <b class="error-message">{{ form.errors.weight }}</b>
                {% endif %}
            </div>
            <div class="form-entry">
                <h2 class="form-label">Grade:</h2>
                {{ form.grade }}
                {% if "grade" in form.errors %}
                    <b class="error-message">{{ form.errors.grade }}</b>
                {% endif %}
            </div>
            <div class="form-entry">
                <h2 class="form-label">Coupling:</h2>
                {{ form.coupling }}
                {% if "coupling" in form.errors %}
                    <b class="error-message">{{ form.errors.coupling }}</b>
                {% endif %}
            </div>
            <div class="form-entry">
                <h2 class="form-label">Range:</h2>
                {{ form.range }}
                {% if "range" in form.errors %}
                    <b class="error-message">{{ form.errors.range }}</b>
                {% endif %}
            </div>
            <div class="form-entry">
                <h2 class="form-label">Condition:</h2>
                {{ form.condition }}
                {% if "condition" in form.condition %}
                    <b class="error-message">{{ form.errors.condition }}</b>
                {% endif %}
            </div>
            <div class="form-entry">
                <h2 class="form-label">Remarks:</h2>
                {{ form.remarks }}
                {% if "remarks" in form.condition_notes %}
                    <b class="error-message">{{ form.errors.remarks }}</b>
                {% endif %}
            </div>
            <div class="form-entry">
                <h2 class="form-label">Foreman:</h2>
                {{ form.foreman }}
                {% if "customer_id" in form.foreman %}
                    <b class="error-message">{{ form.errors.foreman }}</b>
                {% endif %}
            </div>
            <input type="submit" value="Save Changes" class="submit-button">
        </form>
    </div>
{% endblock %}