{% extends "base/base.html" %}

{% block main %}
    {% load static %}
    {% load mathfilters %}
    <link rel="stylesheet" href="{% static 'generic/table.css' %}">
    <link rel="stylesheet" href="{% static 'generic/paginator.css' %}">

    <div class="table">
        <h2>Product List</h2>
        <p>You can see all added products here and delete/edit them if necessary.</p>
        <a href="{% url 'products:add' %}" class="add-button">Add Product</a>
        <a href="{% url 'products:download_product_table' %}" class="sheet-button">Download Excel</a>

        <table class="table">
            <thead>
            <tr class="column-label">
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=outside_diameter&order_dir=asc">
                    {% else %}
                        <a href="?order_by=outside_diameter">
                    {% endif %}
                    <h2>Outside Diameter</h2>
                    {% if order_by == "outside_diameter" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "outside_diameter" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=weight&order_dir=asc">
                    {% else %}
                        <a href="?order_by=weight">
                    {% endif %}
                    <h2>Lbs Per Ft</h2>
                    {% if order_by == "weight" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "weight" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=grade&order_dir=asc">
                    {% else %}
                        <a href="?order_by=grade">
                    {% endif %}
                    <h2>Grade</h2>
                    {% if order_by == "grade" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "grade" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=coupling&order_dir=asc">
                    {% else %}
                        <a href="?order_by=coupling">
                    {% endif %}
                    <h2>CPLG</h2>
                    {% if order_by == "coupling" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "coupling" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=range&order_dir=asc">
                    {% else %}
                        <a href="?order_by=range">
                    {% endif %}
                    <h2>Range</h2>
                    {% if order_by == "range" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "range" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=condition&order_dir=asc">
                    {% else %}
                        <a href="?order_by=condition">
                    {% endif %}
                    <h2>Condition</h2>
                    {% if order_by == "condition" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "condition" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=remarks&order_dir=asc">
                    {% else %}
                        <a href="?order_by=remarks">
                    {% endif %}
                    <h2>Remarks</h2>
                    {% if order_by == "remarks" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "remarks" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=foreman&order_dir=asc">
                    {% else %}
                        <a href="?order_by=foreman">
                    {% endif %}
                    <h2>Foreman</h2>
                    {% if order_by == "foreman" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "foreman" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            {% if product_list %}
                <tbody>
                {% for product in product_list %}
                    <tr>
                        <td>{{ product.outside_diameter }}</td>
                        {% if product.weight == None %}
                            <td></td>
                        {% else %}
                            <td>{{ product.weight }}#</td>
                        {% endif %}
                        <td>{{ product.grade }}</td>
                        <td>{{ product.coupling }}</td>
                        <td>{{ product.range }}</td>
                        <td>{{ product.condition }}</td>
                        <td>{{ product.remarks }}</td>
                        <td>{{ product.foreman }}</td>
                        <td><a href="{% url 'products:detail' product.id %}" class="view-link">View</a></td>
                        <td><a href="{% url 'products:edit' product.id %}" class="edit-link">Edit</a></td>
                        <td><a href="{% url 'customers:delete' product.id %}" class="delete-link"
                               onclick="return confirm('Are you sure you want to delete {{ product }}')">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>

    <ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
        {% if product_list.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ product_list.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled page-item"><a class="page-link">&laquo;</a></li>
        {% endif %}
        {% for i in page_range|default_if_none:product_list.paginator.get_elided_page_range %}
            {% if product_list.number == i %}
                <li class="active page-item"><span class="active page-link">{{ i }}</span>
                </li>
            {% else %}
                {% if i == product_list.paginator.ELLIPSIS %}
                    <li class="page-item"><span class="page-link">{{ i }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if product_list.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ product_list.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
        {% endif %}
    </ul>


{% endblock %}