{% extends "base/base.html" %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'generic/card.css' %}">

    <div class="card">
        <h2 id="window-title">Change Password</h2>
        <p id="window-description">Enter the new password.</p>
        <hr>
        <form action="{% url 'customers:edit_password' user_id %}" method="post">
            {% csrf_token %}
            <div class="form-entry">
                <h2 class="form-label">Password:</h2>
                {{ form.new_password1 }}
                {% if "new_password1" in form.errors %}
                    <b class="error-message">{{ form.errors.new_password1 }}</b>
                {% endif %}
            </div>
            <div class="form-entry">
                <h2 class="form-label">Retype Password:</h2>
                {{ form.new_password2 }}
                {% if "new_password2" in form.errors %}
                    <b class="error-message">{{ form.errors.new_password2 }}</b>
                {% endif %}
            </div>
            <input type="submit" value="Set Password" class="submit-button">
        </form>
    </div>
{% endblock %}