{% extends "base/base.html" %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'generic/card.css' %}">

    <div class="card">
        <h2 id="window-title">Change Username</h2>
        <p id="window-description">Enter the new username.</p>
        <hr>
        <form action="{% url 'customers:edit_username' user_id %}" method="post">
            {% csrf_token %}
            <div class="form-entry">
                <h2 class="form-label">Username:</h2>
                {{ form.username }}
                {% if "username" in form.errors %}
                    <b class="error-message">{{ form.errors.username }}</b>
                {% endif %}
            </div>
            <input type="submit" value="Set Username" class="submit-button">
        </form>
    </div>
{% endblock %}