<h1>Customer Details</h1>

<dl>
    <dt>ID</dt>
    <dd>{{ customer.id }}</dd>

    <dt>User</dt>
    <dd>{{ customer.user }}</dd>

    <dt>Name</dt>
    <dd>{{ customer.display_name }}</dd>

    <dt>Phone</dt>
    <dd>{{ customer.phone_number }}</dd>

    <dt>Status</dt>
    <dd>{{ customer.status }}</dd>

    <dt>Products</dt>
    <dd>{{ customer.products }}</dd>
</dl>

<a href="{% url 'customers:customer_update' customer.pk %}">Update</a>
<a href="{% url 'customers:customer_delete' customer.pk %}">Delete</a>
<a href="{% url 'customers:customer_list' %}">Back</a>