{% extends "base/base.html" %}

{% block head %}
    <title>Update {{ form.display_name }}</title>
{% endblock %}

{% block body %}
<div class="card">
    <h1 class="card-title">Edit Customer</h1>
    <p class="card-description">Enter your customer information.</p>
    <hr>
    <form method="post">
        {% csrf_token %}

        <div class="customer-form">
            <h2 class="form-label">Full Name:</h2>
            {{ form.display_name }}
            {% if "display_name" in form.errors %}
            <b class="error-message">{{ form.errors.display_name }}</b>
            {% endif %}

            <h2 class="form-label">Email Address:</h2>
            {{ form.email }}
            {% if "email" in form.errors %}
            <b class="error-message">{{ form.errors.email }}</b>
            {% endif %}

            <h2 class="form-label">Phone Number:</h2>
            {{ form.phone_number }}
            {% if "phone_number" in form.errors %}
            <b class="error-message">{{ form.errors.phone_number }}</b>
            {% endif %}
        </div>

        <h2 class="form-label">Notification Groups</h2>
        {% include "base/partials/nested_formset.html" with formsets=formsets %}

        <br>
        <input type="submit" value="Save Changes">
    </form>
</div>
{% endblock %}