{% extends "base/base.html" %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'generic/card.css' %}">
    
    <div class="card">
        <h2 id="window-title">Edit Customer</h2>
        <p id="window-description">Enter your customer information.</p>
        <hr>
        <form action="{% url 'customers:edit' customer_id %}" method="post">
            {% csrf_token %}
            <div class="form-entry">
                <h2 class="form-label">Full Name:</h2>
                {{ form.display_name }}
                {% if "display_name" in form.errors %}
                    <b class="error-message">{{ form.errors.display_name }}</b>
                {% endif %}
            </div>
            <div class="form-entry">
                <h2 class="form-label">Email:</h2>
                {{ form.email }}
                {% if "email" in form.errors %}
                    <b class="error-message">{{ form.errors.email }}</b>
                {% endif %}
            </div>
            <div class="form-entry">
                <h2 class="form-label">User Name:</h2>
                {{ form.username }}
                {% if "username" in form.errors %}
                    <b class="error-message">{{ form.errors.username }}</b>
                {% endif %}
            </div>
            <div class="form-entry">
                <h2 class="form-label">Phone:</h2>
                {{ form.phone_number }}
                {% if "phone_number" in form.errors %}
                    <b class="error-message">{{ form.errors.phone_number }}</b>
                {% endif %}
            </div>
            <input type="submit" value="Save Changes" class="submit-button">
        </form>
    </div>
{% endblock %}