{% extends "base/base.html" %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'generic/card.css' %}">
    <link rel="stylesheet" href="{% static 'customers/mailing_list.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'customers/mailing_list.js' %}"></script>
    
    <div class="card">
        <h2 id="window-title">Edit Customer</h2>
        <p id="window-description">Enter your customer information.</p>
        <hr>
        <form action="{% url 'customers:edit' customer_id %}" method="post">
            {% csrf_token %}
            <div class="form-entry">
                <h2 class="form-label">Full Name:</h2>
                {{ form.display_name }}
                {% if "display_name" in form.errors %}
                    <b class="error-message">{{ form.errors.display_name }}</b>
                {% endif %}
            </div>
            <div class="form-entry">
                <h2 class="form-label">Email:</h2>
                {{ form.email }}
                {% if "email" in form.errors %}
                    <b class="error-message">{{ form.errors.email }}</b>
                {% endif %}
            </div>
            <div class="form-entry">
                <h2 class="form-label">User Name:</h2>
                {{ form.username }}
                {% if "username" in form.errors %}
                    <b class="error-message">{{ form.errors.username }}</b>
                {% endif %}
            </div>
            <div class="form-entry">
                <h2 class="form-label">Phone:</h2>
                {{ form.phone_number }}
                {% if "phone_number" in form.errors %}
                    <b class="error-message">{{ form.errors.phone_number }}</b>
                {% endif %}
            </div>

            <div class="form-entry" id="email-container">
                <h2 class="form-label">Mailing List:</h2>
                {% for email, tag in email_list %}
                    <div>
                        <i class="remove-email fa-solid fa-trash"></i>
                        <input type="email" name="email_list" value="{{ email }}">
                        <input type="text" name="tag_list" value="{{ tag }}">
                    </div>
                {% endfor %}
            </div>
            <button type="button" id="add-email">Add Email</button>
            <input type="submit" value="Save Changes" class="submit-button">
        </form>
    </div>
{% endblock %}