{% extends "base/base.html" %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'generic/table.css' %}">

    <div class="table">
        <h2>Customer List</h2>
        <p>You can see all added customers here and can delete/edit password if necessary.</p>
        <a href="{% url 'customers:add' %}" class="add-button">Add Customer</a>
        <a href="{% url 'customers:download_customer_table' %}" class="sheet-button">Download Excel</a>

        <table>
            <thead>
            <tr class="column-label">
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=display_name&order_dir=asc">
                    {% else %}
                        <a href="?order_by=display_name">
                    {% endif %}
                    <h2>Full Name</h2>
                    {% if order_by == "display_name" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "display_name" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=username&order_dir=asc">
                    {% else %}
                        <a href="?order_by=username">
                    {% endif %}
                    <h2>Username</h2>
                    {% if order_by == "username" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "username" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=email&order_dir=asc">
                    {% else %}
                        <a href="?order_by=email">
                    {% endif %}
                    <h2>Email</h2>
                    {% if order_by == "email" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "email" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th>
                    {% if order_dir == "" %}
                        <a href="?order_by=status&order_dir=asc">
                    {% else %}
                        <a href="?order_by=status">
                    {% endif %}
                    <h2>Status</h2>
                    {% if order_by == "status" and order_dir == "-" %}
                        <img src="{% static 'resources/desc.png' %}" alt="sort_by">
                    {% elif order_by == "status" %}
                        <img src="{% static 'resources/asc.png' %}" alt="sort_by">
                    {% else %}
                        <img src="{% static 'resources/neutral.png' %}" alt="sort_by">
                    {% endif %}
                    </a>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            {% if customer_list %}
                <tbody>
                {% for customer in customer_list %}
                    <tr>
                        <td><a href="{% url 'inventory:report' customer.id %}">{{ customer.display_name }}</a></td>
                        <td>{{ customer.username }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.status }}</td>
                        <td><a href="{% url 'customers:detail' customer.id %}" class="view-link">View</a></td>
                        <td><a href="{% url 'customers:edit' customer.id %}" class="edit-link">Edit</a></td>
                        <td><a href="{% url 'customers:edit_password' customer.id %}" class="edit-link">Change Password</a></td>
                        <td><a href="{% url 'customers:delete' customer.id %}" class="delete-link"
                               onclick="return confirm('Are you sure you want to delete {{ customer }}?')">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>

{% endblock %}