<!DOCTYPE html>
<html lang="en">
<head>
    <title>MyDjangoApp</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'customers/login.css' %}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <form action="{% url 'customers:user_login' %}" method="post">
        <fieldset>
            <legend>User Login</legend>

            {% csrf_token %}
            {% if error_message %}
                <p class="bg-danger p-d ml-b">{{ error_message }}</p>
            {% endif %}

            {% csrf_token %}
            <table>
                <tbody>
                    <tr>
                        <td>Username:</td>
                        <td>{{ form.username }}</td>
                    </tr>

                    <tr>
                        <td>Password:</td>
                        <td>{{ form.password }}</td>
                    </tr>

                    <tr>
                        <td colspan="2" align="right">
                        <input type="submit" value="Login">
                        <input type="reset" value="Reset">
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" align="right">
                        <a href="https://www.runnersutah.com/inventory/index.php/users/login/forgotpassword">Did you forget your login details?</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </fieldset>
    </form>

</body>
</html>