<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Login</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login_page.css' %}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <form action="{% url 'customers:login' %}" method="post">
        <fieldset>
            <legend>User Login</legend>

            {% csrf_token %}
            {% if error_message %}
                <p>{{ error_message }}</p>
            {% endif %}

            {% csrf_token %}
            <table>
                <tbody>
                    <tr>
                        <td>Username:</td>
                        <td>{{ form.username }}</td>
                    </tr>

                    <tr>
                        <td>Password:</td>
                        <td>{{ form.password }}</td>
                    </tr>

                    <tr>
                        <td colspan="2">
                        <input type="submit" value="Login">
                        <input type="reset" value="Reset">
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                        <a href="{% url 'customers:password_reset' %}">Did you forget your login details?</a>  <!-- todo add link -->
                        </td>
                    </tr>

                </tbody>
            </table>
        </fieldset>
    </form>

</body>
</html>