<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password Reset</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login_page.css' %}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <form method="post">
        <fieldset>
            <legend>Reset Password</legend>
            {% csrf_token %}
            <table>
                <tbody>
                    <tr>
                        <td>Email:</td>
                        <td>{{ form.email }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                        <input type="submit" value="Reset Password">
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </form>
</body>
</html>
