{% extends "base/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock %}

{% block main %}
    <div class="card">
        <h1 class="card-title">Update {{ request.user.username }}'s Password</h1>
        <p class="card-description">Enter your new password.</p>
        <hr>
        <form method="post">
            {% csrf_token %}
            <h2 class="form-label">New Password:</h2>
            {{ form.new_password1 }}
            <h2 class="form-label">Retype Password:</h2>
            {{ form.new_password2 }}
            <br>
            <input type="submit" value="Save Changes">
        </form>
    </div>
{% endblock %}
