<div class="formset" data-prefix="{{ formset.prefix }}" style="border: black 1px solid; padding-left: 10px;">
    {{ formset.management_form }}

    <div class="forms">
        {% for form in formset %}
            <div class="form-instance">
                {{ form }}

                {% if form.nested %}
                    <div class="empty-child-form" style="display: none;">
                        {{ form.nested.empty_form }}
                    </div>

                    {% include "customers/partials/formset.html" with formset=form.nested %}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="empty-form" style="display: none;">
        {{ formset.empty_form }}
    </div>

<!--    <button type="button" class="add-form" onclick="addForm(this)">Add</button>-->
</div>